/*__________Login&Signup__________*/
/*__________Login&Signup__________*/
/*___________Header___________*/
/*___________Header___________*/
/*___________Publication_________*/
/*___________Publication_________*/
/*____________SlideMenu__________*/
/*____________SlideMenu__________*/
/*____________PostMessage_________*/
/*____________PostMessage_________*/
/*____________Commentaire_________*/
/*____________Commentaire_________*/
/*___________media query__________*/
/*___________media query__________*/
.M_error,
.comments_message_content,
.fiels,
.container_profil,
.card_employs,
.img_upload_container,
.pulication {
  animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  /* Firefox */
  -webkit-animation: fadein 500ms;
  /* Safari et Chrome */
  -o-animation: fadein 500ms;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container_system_menu {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.system_menu_ellipsis {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.system_menu_ellipsis:hover {
  transition: 200ms;
}
.system_menu_ellipsis:hover {
  color: rgba(0, 0, 0, 0.8);
}

.content_system_menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.system_delete {
  background: none;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  font-size: 16px;
  color: rgba(184, 0, 0, 0.5);
}
.system_delete:hover {
  transition: 200ms;
}
.system_delete:hover {
  color: rgba(184, 0, 0, 0.8);
}

.system_Modify {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  color: rgba(0, 0, 170, 0.5);
  font-size: 16px;
}
.system_Modify:hover {
  transition: 200ms;
}
.system_Modify:hover {
  color: rgba(0, 0, 170, 0.8);
}

.system_Modify_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  color: rgba(0, 0, 170, 0.5);
  font-size: 16px;
}
.system_Modify_button:hover {
  transition: 200ms;
}
.system_Modify_button:hover {
  color: rgba(0, 0, 170, 0.8);
}

@media all and (min-width: 785px) {
  .system_delete {
    background: none;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    cursor: pointer;
    transition: 500ms;
    font-size: 14px;
    color: rgba(184, 0, 0, 0.5);
  }
  .system_delete:hover {
    transition: 200ms;
  }
  .system_delete:hover {
    color: rgba(184, 0, 0, 0.8);
  }

  .system_Modify {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    cursor: pointer;
    transition: 500ms;
    color: rgba(0, 0, 170, 0.5);
    font-size: 14px;
  }
  .system_Modify:hover {
    transition: 200ms;
  }
  .system_Modify:hover {
    color: rgba(0, 0, 170, 0.8);
  }

  .system_Modify_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    cursor: pointer;
    transition: 500ms;
    color: rgba(0, 0, 170, 0.5);
    font-size: 14px;
  }
  .system_Modify_button:hover {
    transition: 200ms;
  }
  .system_Modify_button:hover {
    color: rgba(0, 0, 170, 0.8);
  }
}
.warning_delete {
  width: 100%;
  display: flex;
  justify-content: center;
  color: red;
}

.button_warning_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid rgb(100, 0, 0);
  color: rgb(100, 0, 0);
  margin-right: 5px;
}
.button_warning_delete:hover {
  transition: 500ms;
}
.button_warning_delete:hover {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.5);
  color: rgb(255, 0, 0);
}

.warning_cancel {
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgba(201, 201, 201, 0.678);
}
.warning_cancel:hover {
  transition: 500ms;
}
.warning_cancel:hover {
  background-color: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 255, 0.75);
  color: rgba(0, 0, 255, 0.75);
}

.pulication_user_container {
  width: 100%;
  height: 50px;
  background-color: rgb(150, 0, 0);
  transition: 300ms;
}
.pulication_user_container:hover {
  transition: 200ms;
  background-color: rgba(170, 0, 0, 0.85);
}

.pulication_user_container_Profil {
  width: 100%;
  height: 50px;
  background-color: rgb(150, 0, 0);
  transition: 300ms;
  cursor: default;
}

.pulication_user_content {
  margin-left: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.pulication_user_content:hover {
  color: rgb(255, 255, 255);
}

.pulication_user_img_container {
  width: 45px;
  height: auto;
  max-height: 45px;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid rgba(201, 201, 201, 0.678);
}

.pulication_user_img {
  object-fit: cover;
  object-position: 0px 0px;
}

.pulication_user_name {
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  height: 20px;
  margin-left: 10px;
}

.isAdmin_badge {
  margin-top: -4px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(0, 100, 0);
}

.time_posted {
  margin-top: 5px;
  margin-left: 10px;
  color: rgba(0, 0, 170, 0.8);
  margin-bottom: 0px;
}

@media all and (min-width: 785px) {
  .pulication_user_content {
    margin-left: 25px;
  }
}
.section_pulication {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(245, 245, 245);
  height: auto;
}

.pulication_container {
  width: 98%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.pulication_content {
  margin-bottom: 20px;
  width: 100%;
}

.pulication {
  border-radius: 25px;
  border: 1px solid rgba(201, 201, 201, 0.678);
  background-color: white;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.message_com_mes {
  margin-top: -5px;
  padding: 10px;
  width: 100%;
  word-wrap: break-word;
}

.img_com_container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  margin-top: -30px;
}

.img_com_content {
  display: flex;
  justify-content: center;
  height: min-content;
  width: min-content;
  border-radius: 25px;
  overflow: hidden;
}

.img_com {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

.comments_all_container {
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.comments_all_container::-webkit-scrollbar {
  width: 10px;
}
.comments_all_container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}
.comments_all_container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.container_comments_icon {
  display: flex;
  justify-content: center;
  width: 100%;
}

.open_comments_icon {
  cursor: pointer;
  color: rgba(0, 16, 107, 0.6);
}
.open_comments_icon:hover {
  color: rgb(0, 16, 107);
}

.close_comments_icon {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.close_comments_icon:hover {
  color: rgb(255, 255, 255);
}

.container_comments {
  height: auto;
  background: rgb(80, 0, 0);
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
}

.comments_message_content {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.img_comments_message {
  width: 40px;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid rgba(201, 201, 201, 0.678);
}

.name_user_comments {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  cursor: pointer;
  width: max-content;
  color: black;
}
.name_user_comments:hover {
  color: black;
  text-decoration: underline;
}

.comment_user_comments {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}

.comments_message_users {
  width: min-content;
  margin: 3px;
  height: auto;
  max-width: 200px;
  word-wrap: break-word;
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.admin_ba_comment {
  margin-left: 2px;
  font-size: 12px;
  color: green;
}

.text_comment_bar_w {
  width: 100%;
  display: flex;
  justify-content: center;
}

.comment_bar_w {
  height: 45px;
  width: 100%;
}

.comment_bar_Edit {
  width: 100%;
}

.send_comment_button {
  margin-left: 5px;
  color: white;
  font-size: 25px;
  margin-top: 6px;
  transition: 150ms;
  height: max-content;
}
.send_comment_button:hover {
  transition: 100ms;
  color: rgb(255, 181, 181);
}

.container_edite_comment {
  display: flex;
  margin-left: 20px;
  color: white;
  font-size: 14px;
}

.button_delete_comment {
  height: max-content;
  color: white;
  font-size: 22px;
}
.button_delete_comment:hover {
  color: rgb(255, 181, 181);
}

.button_edite_comment {
  height: max-content;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
  transition: 150ms;
}
.button_edite_comment:hover {
  transition: 100ms;
  color: rgba(255, 255, 255, 0.8);
}

.text_comment_bar_edite {
  margin-bottom: 5px;
}

.loader {
  display: flex;
  justify-content: center;
}

@media all and (min-width: 375px) {
  .comments_message_users {
    width: 100%;
    margin: 3px;
    height: auto;
    max-width: 190px;
    word-wrap: break-word;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width: 560px) {
  .comments_message_users {
    width: 100%;
    margin: 3px;
    height: auto;
    max-width: 300px;
    word-wrap: break-word;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
}
@media all and (min-width: 785px) {
  .pulication_container {
    width: 100%;
  }

  .pulication_content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pulication {
    width: 100%;
    max-width: 600px;
    border-radius: 25px;
    margin: 10px;
  }
}

/*# sourceMappingURL=Post.css.map */
