/*__________Login&Signup__________*/
/*__________Login&Signup__________*/
/*___________Header___________*/
/*___________Header___________*/
/*___________Publication_________*/
/*___________Publication_________*/
/*____________SlideMenu__________*/
/*____________SlideMenu__________*/
/*____________PostMessage_________*/
/*____________PostMessage_________*/
/*____________Commentaire_________*/
/*____________Commentaire_________*/
/*___________media query__________*/
/*___________media query__________*/
body {
  margin: auto;
  font-family: "Mukta", sans-serif;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
body h3 {
  font-size: 20px;
  font-weight: 500;
}
body p {
  width: 100%;
}
body img {
  width: 100%;
}
body a {
  text-decoration: none;
}

.img_upload_container,
.pulication {
  animation: fadein 500ms;
  -moz-animation: fadein 500ms;
  /* Firefox */
  -webkit-animation: fadein 500ms;
  /* Safari et Chrome */
  -o-animation: fadein 500ms;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button_center {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.main_login_signup {
  display: flex;
  justify-content: center;
}

.section_login_signup {
  width: 100%;
  max-width: 500px;
  margin-bottom: 100px;
}
.section_login_signup .form_login_signup {
  background: rgb(150, 0, 0);
  border-radius: 50px;
  padding: 50px;
  margin: 5px;
}
.section_login_signup .P_log {
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.section_login_signup .container_field {
  margin-top: 20px;
}
.section_login_signup .button_log {
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.section_login_signup .button_log:hover {
  transition: 500ms;
}
.section_login_signup .button_log:hover {
  background-color: rgb(255, 181, 181);
}
.section_login_signup .field_log {
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  transition: 500ms;
  border: 5px solid rgb(150, 0, 0);
}
.section_login_signup .field_log:hover {
  transition: 500ms;
}
.section_login_signup .button_connect {
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(150, 0, 0);
}
.section_login_signup .button_connect:hover {
  transition: 500ms;
}
.section_login_signup .button_connect:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(150, 0, 0, 0.8);
}
.section_login_signup .button_cancel {
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(150, 0, 0);
}
.section_login_signup .button_cancel:hover {
  transition: 500ms;
}
.section_login_signup .button_cancel:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(150, 0, 0, 0.8);
}

/*# sourceMappingURL=login_signup.css.map */
