.section_pulication{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $backgroundCommentaire;
    height: auto;
}
.pulication_container{
    width: 98%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.pulication_content{
    margin-bottom: 20px;
    width: 100%;
}
.pulication{
    border-radius: 25px;
    border: 1px solid $border_backgroundMenu;
    background-color: #ffff;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.message_com_mes{
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}
.img_com_container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin-top: -30px;
}
.img_com_content{
    display: flex;
    justify-content: center;
    height: min-content;
    width: min-content;
    border-radius: 25px;
    overflow: hidden;
}
.img_com{
    max-height: 300px;
    width: min-content;
    object-fit: cover;
}
.system_Modify_button{
    @include button_ellipsis;
    color: rgba(0, 0, 170, 0.500);
    font-size: 14px;
&:hover{
    color: rgba(0, 0, 170, 0.800);
    
}
}
.comments_all_container{
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(white, 0.3);
        border-radius: 50px;
        &:hover {
          background-color: rgba(white, 0.5);
        }
      }
}
.container_comments_icon{
    display: flex;
    justify-content: center;
    width: 100%;
}
.open_comments_icon{
    cursor: pointer;
    color: rgba(0, 16, 107, 0.6);
    &:hover{
    color: rgb(0, 16, 107);
    }
}
.close_comments_icon{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    &:hover{
    color: rgb(255, 255, 255);
    }
}
.container_comments{
    height: auto;
    background: $backgroundHeaderPublication;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
}
.comments_message_content{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.img_comments_message{
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid $border_backgroundMenu;
}
.name_user_comments{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    cursor: pointer;
    width: max-content;
    color: black;
    &:hover{
        color: black;
        text-decoration: underline;
    }
}
.comment_user_comments{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}
.comments_message_users{
    width: max-content;
    margin: 3px;
    height: auto;
    max-width: 200px;
    word-wrap: break-word;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.admin_ba_comment{
    margin-left: 2px;
    font-size: 12px;
    color: green;
}
.text_comment_bar_w{
    width: 100%;
    display: flex;
    justify-content: center;
}
.comment_bar_w{
    height: 45px;
    width: 100%;
}
.comment_bar_Edit{
    width: 100%;
}
.send_comment_button{
    margin-left: 5px;
    color: white;
    font-size: 25px;
    margin-top: 6px;
    transition: 150ms;
    height: max-content;
    &:hover{
        transition: 100ms;
        color: $secondary;
    }
}
.container_edite_comment{
    display: flex;
    flex-direction: column;
}
.button_delete_comment{
    height: max-content;
    color: white;
    font-size: 22px;
    &:hover{
        color: $secondary;
    }
}
.button_edite_comment{
    height: max-content;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.300);
    transition: 150ms;
    &:hover{
        transition: 100ms;
        color: rgba(255, 255, 255, 0.800);
    }
}
.text_comment_bar_edite{
    margin-bottom: 5px;
}
@media all and (min-width: $media_query_tablet) {
    .comments_message_users{
        width: max-content;
        margin: 3px;
        height: auto;
        max-width: 400px;
        word-wrap: break-word;
        border-radius: 25px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
    }
}
@media all and (min-width: $media_query_Pc) {
    .pulication_container{
        width: 100%;
    }
    .pulication_content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pulication{
        width: 100%;
        max-width: 600px;
        border-radius: 25px;
        margin: 10px;
    }
}