.section_pulication{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $backgroundCommentaire;
    height: auto;
}
.pulication_container{
    width: 98%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.pulication_content{
    margin-bottom: 20px;
    width: 100%;
}
.pulication{
    border-radius: 25px;
    border: 1px solid $border_backgroundMenu;
    background-color: #ffff;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.message_com{
    margin-top: 10px;
    
}
.message_com_mes{
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}
.img_com_container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}
.img_com_content{
    display: flex;
    justify-content: center;
    height: min-content;
    width: min-content;
    border-radius: 25px;
    overflow: hidden;
}
.img_com{
    max-height: 300px;
    width: min-content;
    object-fit: cover;
}
.system_Modify_button{
    @include button_ellipsis;
    color: rgba(0, 0, 170, 0.500);
    font-size: 14px;
&:hover{
    color: rgba(0, 0, 170, 0.800);
    
}
}
@media all and (min-width: $media_query) {
    .pulication_container{
        width: 100%;
    }
    .pulication_content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pulication{
        width: 100%;
        max-width: 600px;
        border-radius: 25px;
        margin: 10px;
    }
}