/*__________Login&Signup__________*/
/*__________Login&Signup__________*/
/*___________Header___________*/
/*___________Header___________*/
/*___________Publication_________*/
/*___________Publication_________*/
/*____________SlideMenu__________*/
/*____________SlideMenu__________*/
/*____________PostMessage_________*/
/*____________PostMessage_________*/
/*____________Commentaire_________*/
/*____________Commentaire_________*/
/*___________media query__________*/
/*___________media query__________*/
/* 

The following vars come from my theme. 
You'll need to replace with your own color values. 
*/
.toggle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;
}
.toggle:last-of-type {
  margin: 0;
}

.toggle__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.toggle__input:not([disabled]):active + .toggle-track, .toggle__input:not([disabled]):focus + .toggle-track {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 140);
}
.toggle__input:disabled + .toggle-track {
  cursor: not-allowed;
  opacity: 0.7;
}

.toggle-track {
  background: white;
  border: 1px solid rgb(0, 0, 140);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 21px;
  margin-right: 12px;
  position: relative;
  width: 37.5px;
}

.toggle-indicator {
  align-items: center;
  background: rgb(0, 0, 140);
  border-radius: 15px;
  bottom: 2px;
  display: flex;
  height: 15px;
  justify-content: center;
  left: 2px;
  outline: solid 2px transparent;
  position: absolute;
  transition: 500ms;
  width: 15px;
}

.checkMark {
  fill: #fff;
  height: 11px;
  width: 11px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  margin-top: -13px;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
  background: rgb(0, 0, 140);
  transform: translateX(16.5px);
}
.toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  .toggle-track {
    border-radius: 0;
  }
}
.button_message_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.button_add_img_container {
  width: 50%;
}

.text_Ico {
  display: none;
}

.button_add_img {
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgba(201, 201, 201, 0.678);
}
.button_add_img:hover {
  transition: 500ms;
}
.button_add_img:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 128, 0, 0.753);
  color: rgba(0, 128, 0, 0.753);
  box-shadow: 1px 1px 3px rgba(0, 0, 221, 0.836);
}

.button_message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(201, 201, 201, 0.678);
  margin-right: 5px;
}
.button_message:hover {
  transition: 500ms;
}
.button_message:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 221, 0.836);
  color: rgba(0, 0, 221, 0.836);
  box-shadow: 1px 1px 3px rgba(0, 128, 0, 0.753);
}

@media all and (min-width: 785px) {
  .text_Ico {
    display: initial;
    font-size: 16px;
    margin-left: 10px;
  }
}
.container_system_menu {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.system_menu_ellipsis {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.system_menu_ellipsis:hover {
  transition: 200ms;
}
.system_menu_ellipsis:hover {
  color: rgba(0, 0, 0, 0.8);
}

.content_system_menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.system_delete {
  background: none;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  font-size: 14px;
  color: rgba(184, 0, 0, 0.5);
}
.system_delete:hover {
  transition: 200ms;
}
.system_delete:hover {
  color: rgba(184, 0, 0, 0.8);
}

.system_Modify {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  color: rgba(0, 0, 170, 0.5);
  font-size: 14px;
}
.system_Modify:hover {
  transition: 200ms;
}
.system_Modify:hover {
  color: rgba(0, 0, 170, 0.8);
}

.warning_delete {
  width: 100%;
  display: flex;
  justify-content: center;
  color: red;
}

.button_warning_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid rgb(100, 0, 0);
  color: rgb(100, 0, 0);
  margin-right: 5px;
}
.button_warning_delete:hover {
  transition: 500ms;
}
.button_warning_delete:hover {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 0.5);
  color: rgb(255, 0, 0);
}

.warning_cancel {
  border: none;
  border-radius: 50px;
  padding: 10px;
  transition: 500ms;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgba(201, 201, 201, 0.678);
}
.warning_cancel:hover {
  transition: 500ms;
}
.warning_cancel:hover {
  background-color: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(0, 0, 255, 0.75);
  color: rgba(0, 0, 255, 0.75);
}

.section_profil {
  display: flex;
  justify-content: center;
  background-color: rgb(80, 0, 0);
  padding-bottom: 50px;
}

.header_myprofil {
  background: rgb(150, 0, 0);
  display: flex;
  justify-content: center;
}

.container_profil {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding-bottom: 50px;
  overflow: hidden;
}

.header_myprofil_title {
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: max-content;
  margin: auto;
}

.img_container {
  margin-bottom: 30px;
}

.img_container,
.name_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_admin {
  justify-content: center;
  width: 100%;
}

.content_admin {
  width: max-content;
  border: 1px solid rgba(201, 201, 201, 0.678);
  padding: 10px;
  margin-right: 10px;
  margin: 10px;
  border-radius: 25px;
}

.img_content {
  margin-top: 20px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  overflow: hidden;
  border: 3px solid rgba(201, 201, 201, 0.678);
}

.container_checkbox {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.valide_checkbox {
  margin-top: -4px;
  font-size: 21px;
  max-width: max-content;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
.valide_checkbox:hover {
  color: rgb(0, 0, 0);
}

.fiels {
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  transition: 500ms;
  background: gainsboro;
}
.fiels:hover {
  transition: 500ms;
}

.button_message_container {
  padding: 10px;
}

.name_content_admin {
  color: rgb(0, 100, 0);
  margin-top: 5px;
}

@media all and (min-width: 426px) {
  .container_profil {
    border-radius: 25px;
    margin-top: 100px;
  }
}
@media all and (min-width: 785px) {
  .container_profil {
    border-radius: 25px;
    margin-top: 100px;
  }
}

/*# sourceMappingURL=Profil.css.map */
