.header_home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: $backgroundHeader;
    color: $titleHeader;
    border-bottom: 1px solid $border_backgroundMenu;
    box-shadow: 1px 1px 3px $border_backgroundMenu;
    z-index: 100;
}