.header_home{
    background: $backgroundHeader;
    color: $titleHeader;
    border-bottom: 1px solid $border_backgroundMenu;
    box-shadow: 1px 1px 3px $border_backgroundMenu;
    z-index: 100;
}
.logo_groupomania{
    padding: 5px;
    max-width: 300px;
}