.section_pulication{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $backgroundCommentaire;
    border-top: 1px solid $border_backgroundMenu;
    height: auto;
}
.pulication_container{
    width: 98%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.pulication_content{
    margin-bottom: 20px;
    width: 100%;
}
.pulication{
    border-radius: 25px;
    border: 1px solid $border_backgroundMenu;
    background-color: #ffff;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.message_com{
    margin-top: 10px;
    
}
.message_com_mes{
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}
.img_com_container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}
.img_com_content{
    display: flex;
    justify-content: center;
    height: min-content;
    width: min-content;
    border-radius: 25px;
    overflow: hidden;
}
.img_com{
    max-height: 300px;
    width: min-content;
    object-fit: cover;
}
.container_system_menu{
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}
.system_menu_ellipsis{
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    &:hover{
        color: rgba(43, 43, 43, 0.8);
    }
}
.content_system_menu{
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100px;
    border-radius: 10px;
    border: 1px solid $border_backgroundMenu;
    overflow: hidden;
    margin-top: -80px
}
.system_delete{
    @include button_ellipsis;
    font-size: 14px;
    width: 100%;
    color: rgba(184, 0, 0, 0.500);
    &:hover{
        background-color: rgba(255, 0, 0, 0.199);
        color: rgba(184, 0, 0, 0.800);
    }
}
.system_Modify{
    @include button_ellipsis;
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 170, 0.500);
    &:hover{
        background-color: rgba(0, 0, 255, 0.199);
        color: rgba(0, 0, 170, 0.800);
    }
}
.system_Cancel{
    @include button_ellipsis;
    width: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    &:hover{
        background-color: rgba(0, 0, 0, 0.199);
        color: rgba(75, 75, 75, 0.8);
    }
}
.pulication_user_container{
    width: 100%;
    height: 50px;
    background-color: $backgroundHeader;
}
.pulication_user_content{
    margin-left: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pulication_user_img_container{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid $border_backgroundMenu;
}
.pulication_user_img{
    object-fit: contain;
}
.pulication_user_name{
    width: max-content;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    height: 20px;
    margin-left: 10px;
}
@media all and (min-width: $media_query) {
    .pulication_container{
        width: 100%;
    }
    .pulication_content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pulication{
        width: 100%;
        max-width: 600px;
        border-radius: 25px;
        margin: 10px;
    }
}