.section_commentaire{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $backgroundCommentaire;
    border-top: 1px solid $border_backgroundMenu;
    height: auto;
}
.commentaire_container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.commentaire_content{
    margin-bottom: 20px;
    width: 98%;
}
.pulication{
    border-radius: 25px;
    border: 1px solid $border_backgroundMenu;
    background-color: #ffff;
    width: 100%;
    height: auto;
}
.message_com{
    margin-top: 10px;
    
}
.message_com_mes{
    word-wrap: break-word;
}
.img_com_container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}
.img_com_content{
    display: flex;
    justify-content: center;
    height: min-content;
    width: min-content;
    border-radius: 25px;
    overflow: hidden;
}
.img_com{
    max-height: 300px;
    width: min-content;
    object-fit: cover;
}
.system_container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.system_content{
    cursor: pointer;
    font-size: 20px;
    margin-right: 30px;
    transition: 500ms;
    &:hover{
        transition: 200ms;
        color: rgba(0, 0, 0, 0.5);
    }
}
@media all and (min-width: $media_query) {
    .commentaire_container{
        width: 100%;
    }
    .commentaire_content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .message_com_mes{
        padding: 20px;
        width: 100%;
    }
    .pulication{
        width: 100%;
        max-width: 600px;
        border-radius: 25px;
        margin: 10px;
    }
}