.main_login_signup{
    display: flex;
    justify-content: center;
}
.section_login_signup{
    width: 100%;
    max-width: 500px;
    margin-bottom: 100px;


    .form_login_signup {
    background:  $backgroundLogin_Signup;
    border-radius: 50px;
    padding: 50px;
    margin: 5px;
    }
    .P_log{
        font-size: 18px;
        font-weight: 500;
        color: $P_log;
    }
    .container_field{
        margin-top: 20px;
    }
    .button_log{
        @include button;
        width: 100%;
        background-color: $button_log;
        &:hover{
            background-color: $button_logHover;
        }
    }
    .field_log{
        @include field;
        border: 5px solid $field_LoginSignup;
        //&:hover{
        //    background-color: $field_LoginSignupHover;
        //}
    }
    .button_connect{
        @include button;
        color: $button_connect_cancel;
        background-color: $button_connect;
        &:hover{
            color: $button_connect_cancel;
            background-color: $button_connectHover;
        }
    }
    .button_cancel{
        @include button;
        color: $button_connect_cancel;
        background-color: $button_cancel;
        &:hover{
            color: $button_connect_cancel;
            background-color: $button_cancelHover;
        }
    }
}
