// color
$secondary: rgb(255, 181, 181);

$color_button: rgba(255, 128, 128, 0.596);
$color_buttonHover: rgb(255, 116, 116);

/*__________Login&Signup__________*/
$backgroundLogin_Signup: rgb(150, 0, 0);

//Paragraph
$P_log: rgb(255, 255, 255);
$button_connect_cancel: rgb(255, 255, 255);

//fiels Login&Signup
$field_LoginSignup: rgb(150, 0, 0);
$field_LoginSignupHover: rgb(255, 181, 181);

//button_log
$button_log: rgb(255, 255, 255);
$button_logHover: rgb(255, 181, 181);

//button Signup & Cancel
$button_connect: rgb(150, 0, 0);
$button_connectHover: rgba(150, 0, 0, 0.800);
$button_cancel: rgb(150, 0, 0);
$button_cancelHover: rgba(150, 0, 0, 0.800);
/*__________Login&Signup__________*/

/*___________Header___________*/
$backgroundHeader: rgb(150, 0, 0);
$titleHeader: rgb(255, 255, 255);

$backgroundHeaderPost: rgb(150, 0, 0);
$backgroundHeaderPostHover: rgba(170, 0, 0, 0.850);
/*___________Header___________*/

/*___________Publication_________*/

$backgroundHeaderPublication: rgb(80, 0, 0);

/*___________Publication_________*/

/*____________SlideMenu__________*/
$backgroundMenu: rgb(255, 255, 255);
$border_backgroundMenu: rgba(201, 201, 201, 0.678);

//ParagraphMenu
$PMenu: rgb(0, 0, 0);
//ParagraphMenuicon
$iconMenu: rgb(0, 0, 0);
/*____________SlideMenu__________*/

/*____________PostMessage_________*/
$backgroundPostMessage: rgb(250, 250, 250);

$B_addImg: rgb(255, 255, 255);
$B_addImgHover: rgba(163, 163, 163, 0.74);
//hover color

/*____________PostMessage_________*/

/*____________Commentaire_________*/
$backgroundCommentaire: rgb(245, 245, 245);
/*____________Commentaire_________*/

/*___________media query__________*/
$media_query_Pc: 785px;
$media_query_tablet: 375px;
/*___________media query__________*/