
@mixin button {
        border: none;
        border-radius: 50px;
        padding: 10px;
        transition: 500ms;
        cursor: pointer;
    
        &:hover{
            transition: 500ms;
        }
}