.warning_delete{
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
}
.button_warning_delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    @include button;
    font-size: 18px;
    background-color: rgba(255, 0, 0, 0.100);
    border: 1px solid rgb(100, 0, 0);
    color: rgb(100, 0, 0);
    margin-right: 5px;
    &:hover{
        background-color: rgba(255, 0, 0, 0.200);
        border: 1px solid rgba(255, 0, 0, 0.500);
        color: rgb(255, 0, 0);
    }
}
.warning_cancel{
    @include button;
    font-size: 20px;
    background-color: $B_addImg;
    width: 100%;
    border: 1px solid $border_backgroundMenu;
    &:hover{
        background-color: rgba(0, 0, 255, 0.100);
        border: 1px solid rgba(0, 0, 255, 0.750);
        color: rgba(0, 0, 255, 0.750);
    }
}