@mixin field {
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    transition: 500ms;

    &:hover{
        transition: 500ms;
    }
}