// header of post and edit post
.pulication_user_container{
    width: 100%;
    height: 50px;
    background-color: $backgroundHeader;
}
.pulication_user_content{
    margin-left: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pulication_user_img_container{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid $border_backgroundMenu;
}
.pulication_user_img{
    object-fit: contain;
}
.pulication_user_name{
    width: max-content;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    height: 20px;
    margin-left: 10px;
}
@media all and (min-width: $media_query) {
    .pulication_user_content{
        margin-left: 25px;
    }
}