/*__________Login&Signup__________*/
/*__________Login&Signup__________*/
/*___________Header___________*/
/*___________Header___________*/
/*___________Publication_________*/
/*___________Publication_________*/
/*____________SlideMenu__________*/
/*____________SlideMenu__________*/
/*____________PostMessage_________*/
/*____________PostMessage_________*/
/*____________Commentaire_________*/
/*____________Commentaire_________*/
/*___________media query__________*/
/*___________media query__________*/
main,
.img_upload_container,
.pulication {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari et Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container_system_menu {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.content_system_menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.system_delete {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  font-size: 14px;
  color: rgba(184, 0, 0, 0.5);
  border-left: 1px solid rgba(184, 0, 0, 0.5);
  border-right: 1px solid rgba(184, 0, 0, 0.5);
}
.system_delete:hover {
  transition: 200ms;
}
.system_delete:hover {
  color: rgba(184, 0, 0, 0.8);
}

.system_Modify {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  color: rgba(0, 0, 170, 0.5);
  font-size: 14px;
  border-left: 1px solid rgba(0, 0, 170, 0.5);
  border-right: 1px solid rgba(0, 0, 170, 0.5);
}
.system_Modify:hover {
  transition: 200ms;
}
.system_Modify:hover {
  color: rgba(0, 0, 170, 0.8);
}

.pulication_user_container {
  width: 100%;
  height: 50px;
  background-color: rgb(150, 0, 0);
  transition: 300ms;
}
.pulication_user_container:hover {
  transition: 200ms;
  background-color: rgba(170, 0, 0, 0.85);
}

.pulication_user_content {
  margin-left: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.pulication_user_content:hover {
  color: rgb(255, 255, 255);
}

.pulication_user_img_container {
  width: 45px;
  height: auto;
  max-height: 45px;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid rgba(201, 201, 201, 0.678);
}

.pulication_user_img {
  object-fit: cover;
  object-position: 0px 0px;
}

.pulication_user_name {
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  height: 20px;
  margin-left: 10px;
}

@media all and (min-width: 785px) {
  .pulication_user_content {
    margin-left: 25px;
  }
}
.section_pulication {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid rgba(201, 201, 201, 0.678);
  height: auto;
}

.pulication_container {
  width: 98%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.pulication_content {
  margin-bottom: 20px;
  width: 100%;
}

.pulication {
  border-radius: 25px;
  border: 1px solid rgba(201, 201, 201, 0.678);
  background-color: white;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.message_com {
  margin-top: 10px;
}

.message_com_mes {
  padding: 10px;
  width: 100%;
  word-wrap: break-word;
}

.img_com_container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.img_com_content {
  display: flex;
  justify-content: center;
  height: min-content;
  width: min-content;
  border-radius: 25px;
  overflow: hidden;
}

.img_com {
  max-height: 300px;
  width: min-content;
  object-fit: cover;
}

.system_Modify_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  cursor: pointer;
  transition: 500ms;
  color: rgba(0, 0, 170, 0.5);
  font-size: 14px;
}
.system_Modify_button:hover {
  transition: 200ms;
}
.system_Modify_button:hover {
  color: rgba(0, 0, 170, 0.8);
}

@media all and (min-width: 785px) {
  .pulication_container {
    width: 100%;
  }

  .pulication_content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pulication {
    width: 100%;
    max-width: 600px;
    border-radius: 25px;
    margin: 10px;
  }
}

/*# sourceMappingURL=Publication.css.map */
